.markdown-source-view.mod-cm6 .cm-embed-block:hover:has(.sets-codeblock) {
    box-shadow: initial;
}

.sets-header-draggable {
    text-align: center;
    background-color: var(--background-modifier-hover);
    height: 36px;
    font-family: var(--font-text);
    line-height: var(--line-height-normal);
    font-size: var(--font-text-size);
}

.sets-codeblock:hover {
    .sets-codeblock-toolbar {
        visibility: visible;
    }
}

.sets-codeblock {
    padding: 12px;
    user-select: none;

    .sets-codeblock-toolbar {
        // margin-top: 20px;
        margin-bottom: 15px;
        display: flex;
        flex-direction: row;
        gap: 8px;
        justify-content: end;
        padding: 16px;
        visibility: hidden;
        
    }

    .sets-gridview {
        --sets-gridview-col-gap: 0;

        .sets-gridview-scroller {
            // margin-left: -100px;
            // padding-left: 98px;
            overflow-x: auto;
            // width: 100%;

            .sets-gridview-scrollwrapper {
                /* temporarily */

                padding-right: 90px;
                margin-bottom: 16px;

                .sets-gridview-table {
                    display: grid;

                    .sets-gridview-head {
                        display: contents;

                        .sets-headers-row {
                            // display: grid;
                            display: contents;
                            white-space: nowrap;
                            width: calc(100% - 4px);
                            margin-left: 2px;
                            height: 36px;
                            user-select: none;
                            color: var(--text-muted);
                            column-gap: var(--sets-gridview-col-gap);
                            row-gap: 2px;

                            margin-left: 16px;
                            margin-right: 16px;

                            .sets-header-cell {
                                text-align: center;
                                cursor: grab;
                                border-bottom: 2px solid var(--divider-color);

                                &.hovered {
                                    background-color: var(
                                        --background-modifier-hover
                                    );
                                }

                                .sets-header-cell-content {
                                    display: flex;
                                    .sets-column-name {
                                        flex: 1;
                                        padding-left: 4px;
                                    }

                                    .sets-column-resizer {
                                        flex-basis: 4px;
                                        cursor: ew-resize;
                                    }
                                }
                            }
                        }
                    }

                    .sets-gridview-body {
                        display: contents;

                        // margin-bottom: 16px;
                        // margin-left: 16px;
                        // margin-right: 16px;
                        // .sets-gridview-grid {
                        .sets-gridview-row {
                            // display: grid;
                            display: contents;

                            min-height: 36px;
                            column-gap: var(--sets-gridview-col-gap);
                            row-gap: 2px;
                            border-bottom: 1px solid var(--divider-color);

                            .sets-grid-cell {
                                white-space: nowrap;
                                overflow: hidden;
                                height: 40px;
                                padding: var(--size-4-1);
                                // position: relative;
                                border-bottom: 1px solid var(--divider-color);
                                display: flex;
                                flex-direction: column;
                                justify-content: center;

                                &.hovered {
                                    background-color: var(
                                        --background-modifier-hover
                                    );
                                }

                                &:focus-within {
                                    // overflow: visible;
                                    height: auto;
                                    .sets-cell-content {
                                        // position: absolute;
                                        // top: -10px;
                                        // left: -10px;
                                        // right: -10px;
                                        // bottom: -10px;
                                        z-index: 1;
                                    }
                                }

                                &:hover .editable {
                                    // background-color: var(--interactive-hover);

                                    box-shadow: 0 0 0 1px
                                        var(--background-modifier-border);
                                }
                                .sets-cell-content {
                                    input.metadata-input-text {
                                        border: none;
                                    }
                                    .sets-cell-filename {
                                        display: flex;

                                        &.invalid {
                                            background-color: var(
                                                --background-modifier-error
                                            );
                                        }

                                        a.internal-link {
                                            flex: 1;
                                        }

                                        .sets-cell-filename-link {
                                            cursor: pointer;
                                            flex: 1;
                                            // margin-right: 16px;
                                            overflow: hidden;
                                            text-overflow: ellipsis;
                                        }

                                        .sets-cell-filename-edit {
                                            visibility: hidden;
                                        }

                                        &:hover .sets-cell-filename-edit {
                                            cursor: pointer;
                                            visibility: visible;
                                        }
                                    }
                                }
                            }
                        }
                        //}
                    }
                }
            }
        }
    }
}

.solid-select-container {
    z-index: 1000;
    overflow-y: visible;
    background: var(--modal-background);
}

.sets-query-editor {
    .metadata-property {
        .metadata-property-value {
            overflow: visible;
        }
        input {
            overflow-x: visible;
        }
    }
}

.sets-fields-select {


    .sets-field-search {
        height: var(--input-height);
        border: var(--input-border-width) solid var(--background-modifier-border);
        color: var(--text-normal);
        padding: var(--size-4-1) var(--size-4-2);
        width: 100%;
    }

    .sets-fields-label {
        padding: var(--size-4-1);
        margin: var(--size-4-2) 0;
        position: relative;
        line-height: 1.2;
    }
}

.sets-fields-list {
    overflow-y: auto;
    padding: var(--size-4-2);
    border: 1px solid var(--divider-color);

    &.available-props {
        max-height: 120px;
        min-height: 32px;
    }

    &.selected-props {
        max-height: 120px;
        min-height: 32px;
    }

    
}

.sets-field-item {
    display: flex;
    align-items: flex-start;
    padding: var(--metadata-property-padding);
    overflow: hidden;
    align-self: stretch;
    min-height: var(--input-height);
    cursor: pointer;

    .sets-field-property-icon {
        // align-items: center;
        color: var(--icon-color);
        display: flex;
        align-items: center;
        padding: var(--size-4-1) 0;
        height: var(--input-height);
    }

    .sets-field-property-name {
        color: var(--metadata-label-text-color);
        text-overflow: ellipsis;
        flex-grow: 1;
        padding: var(--size-4-1) var(--size-4-2);
        height: var(--input-height);

        // align-items: center;
    }
}

.sets-button-bar {
    display: flex;
    justify-content: end;
    padding: 16px;
    gap: 8px;
}

.sets-sorting-editor {
    .sets-sorting-fields {
        display: flex;
    }

    .sets-field-search {
        width: 100%;
    }
}
